<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\nlog-internal.log">

	<!-- Các mục tiêu ghi log -->
	<targets>
		<!-- Ghi log vào file -->
		<target xsi:type="File" name="logfile" fileName="${basedir}/logs/logfile.log" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />

		<!-- Ghi log vào console (cho debug) -->
		<target xsi:type="Console" name="logconsole" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
	</targets>

	<!-- Quy tắc ghi log -->
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
		<logger name="*" minlevel="Info" writeTo="logconsole" />
	</rules>
</nlog>
