@model dynamic

@{
    ViewBag.Title = "Product Comparison";
}

<h2>Compare Products</h2>
<head>
    <title>Product Comparison</title>

</head>
<main id="main" class="main" style="width:100%">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div>
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-8" style="width:1200px">


                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productModal">
                    Thêm sản phẩm
                </button>

                <div id="productList">

                </div>

                <button type="button" class="btn btn-success" id="compareButton">
                    So sánh ngay
                </button>
                <button type="button" class="btn btn-danger" id="clearButton">
                    Xóa tất cả sản phẩm
                </button>

                <!-- Modal -->
                <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="productModalLabel">Chọn sản phẩm</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="productSelectionList">
                                    @* Dynamically load product list here *@

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                <button type="button" class="btn btn-primary" id="addProductButton">Thêm sản phẩm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {

    $('#productModal').on('show.bs.modal', function (e) {
        $.ajax({
            url: '@Url.Action("GetProducts", "Products")',
            success: function (data) {
                $('#productSelectionList').html(data);
            },
            error: function (xhr, status, error) {
                console.log("AJAX error: " + status + ' : ' + error);
            }
        });
    });


        // tim kiem san pham theo teen
        $('#search-bar').on('input', function() {
            var query = $(this).val().toLowerCase();
            $.ajax({
                url: '@Url.Action("SearchProducts", "Products")',
                data: { query: query },
                success: function (data) {
                    $('#productSelectionList').html(data);
                }
            });
        });

        // them san pham vbao danh sach so sanh
        $('#addProductButton').click(function() {
            var selectedProducts = [];
            $('#productSelectionList input:checked').each(function() {
                selectedProducts.push($(this).val());
            });

            // hien thi danh sach da chon san pham
            var productListHtml = '';
            selectedProducts.forEach(function(productId) {
                productListHtml += '<p>Product ID: ' + productId + '</p>';
            });
            $('#productList').html(productListHtml);

            $('#productModal').modal('hide');
        });
        // xoa tat ca san pham
        $('#clearButton').click(function() {
            $('#productList').html('');
        });

        // chuyen huong toi so sanh
        $('#compareButton').click(function() {
    var ids = [];
    $('#productList p').each(function() {
        ids.push($(this).text().replace('Product ID: ', ''));
    });

    if (ids.length >= 2) {
        var criteria = [
            { Name: "price", Weight: 1 }
            // Add more criteria as needed
        ];
        var requestData = {
            sanpham: ids,
            criteria: criteria
        };
        $.post('@Url.Action("CompareProducts", "Products")', requestData, function(data) {
            window.location.href = '@Url.Action("CompareResults", "Products")';
        });
    } else {
        alert('Please select at least two products.');
    }
});

    });
</script>
