@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<main id="main" class="main" style="width:100%">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div>
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-8" style="width:1200px">
                <h2>Lỗi</h2>
                <h3>@ViewBag.Thongbao</h3>
                <p>
                    Một lỗi đã xảy ra khi xử lý yêu cầu của bạn. Vui lòng thử lại sau.
                </p>
                <a href="@Url.Action("SanPham", "QuanLySanPham")">Quay lại danh sách sản phẩm</a>
            </div>

        </div>
    </section>
</main>

