@{
    ViewBag.Title = "Quản Lý Kho";
}

<h2>Chạy Ecount_ShortcutDemo</h2>

<button id="runEcountDemoBtn">Chạy Ecount_ShortcutDemo</button>

<div id="result"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#runEcountDemoBtn').click(function() {
            $.ajax({
                url: '@Url.Action("RunEcountDemo", "Inventory")',
                type: 'GET',
                success: function(data) {
                    $('#result').html(data);
                },
                error: function(err) {
                    $('#result').html('Lỗi: ' + err.statusText);
                }
            });
        });
    });
</script>
