@model BaiTap.Models.PhieuNhapKhoViewModel

@using (Html.BeginForm("Nhap", "QuanLyTonKho", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group" style="width:200px">
        @Html.LabelFor(m => m.SanPhamID)
        @Html.TextBoxFor(m => m.SanPhamID, new { @class = "form-control" })
    </div>
    <br />

    <button type="submit" class="btn btn-primary">Tiếp tục</button>
}